
*{
    margin: 0;
    padding: 0;
}

.About{
    display: flex;
    width: 100vw;
    height: 70vh;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.About .About-Info{
    width: 50%;
}

.About .About-Interactivo{
    width: 45%;
    height: 70vh;
}

.Banner{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}

.Banner h2 {
    color: blue;
    font-size: 100px;
    position: relative;
    top: 40vh;
    left: 50vw;
    width: auto;
}

