
*{
    margin: 0;
    padding: 0;
}


.Banner{
    color: rgb(38, 0, 255);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 200vh;
    font-size: 100px;
}



.seccion1 {
    width: 100vw;
    height: 50vh;
    color: white;
}

.seccion2 {
    width:  100vw;
    height: 200vh;
    color: white;
}

canvas {
  position: fixed;   /* fijo en el viewport */
  top: 0;  left: 0;
  width: 100%;  height: 100%;
  z-index: -1;  /* detrás de todo el HTML */
  pointer-events: none; /* los clicks pasan al HTML */
}